---
layout: default
title: Blog
permalink: /blog/
---
   <header class="blog-header">
        <div class="header-content">
            <div class="header-content-inner">
               <table class="logoWrapper" valign="bottom" align="center"><tr><td valign="bottom"><img class="logoImage" alt="Mosaico.io" style="display: block;" src="{{ "/dist/img/mosaicologo.png" | prepend: site.basepath }}" /><div class="logoContainerBig"></div></td><td valign="top">
                </td></tr></table>
                 <h2 class="section-heading">Blog, news, announcement and more!</h2>
                    
            </div>
        </div>
    </header>

<div class="container">
            <div class="row">
<section class="col-md-8 col-content">
   <div class="breadcrumb">
  <a href="/index.html">Home</a> &gt; Blog
</div>
    {% for post in site.posts %}
      {% if post.draft != true %}  
        {% include posts.html%}
      {% endif %}
    {% endfor %}
    
</section>
<section class="col-md-4 col-sidebar well well-sm  blog-sidebar">
    {% include categories.html%}
   <a class="twitter-timeline" href="https://twitter.com/MosaicoEditor" data-widget-id="657484827009163264" data-chrome="nofooter noborders">Tweet di @MosaicoEditor</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</section>
</div>
</div>
   
  
  

