<aside class="bg-primary"  id="footer">
        <div class="container text-center">
             <div class="row">
                <div class="col-lg-12  text-center">
                    <p>MOSAICO.io email builder proudly brought to you by italian email marketing firm <strong><a href="http://www.voxmail.it">VOXmail.it</a></strong> - VAT# IT02137700395</p>
                </div>
            </div>
        </div>
    </aside>

   

    <!-- Bootstrap Core JavaScript -->
    <script src="{{site.staticurl}}/frontpage/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="{{site.staticurl}}/frontpage/js/jquery.easing.min.js"></script>
    <script src="{{site.staticurl}}/frontpage/js/wow.min.js"></script>
     {% if page.custom_css %}
  {% for stylesheet in page.custom_css %}
  <link rel="stylesheet" href="{{site.basepath}}/assets/css/{{ stylesheet }}.css" media="screen" type="text/css">
  {% endfor %}
{% endif %}

{% if page.custom_js %}
  {% for js_file in page.custom_js %}
  <script src='{{site.staticurl}}/assets/script/{{ js_file }}.js' type="text/javascript"></script>
  {% endfor %}
{% endif %}
<script>
  $(document).ready(function () {
    $(".resptable table").addClass("table table-condensed table-bordered table-hover table-striped table-responsive responsivetable");
    $(".resptable table td:contains('YES')").addClass("td-green");
    $(".resptable table td:contains('FULL')").addClass("td-green");
    $(".resptable table td:contains('* ')").addClass("td-orange");
    $(".resptable table td:contains('NONE')").addClass("td-red");

    $(".resptable2 table").addClass("table table-condensed table-bordered table-hover table-striped table-responsive");
    $(".resptable2 table td:contains('YES')").addClass("td-green");
    $(".resptable2 table td:contains('FULL')").addClass("td-green");
    $(".resptable2 table td:contains('* ')").addClass("td-orange");
    $(".resptable2 table td:contains('NONE')").addClass("td-red");

  });

  $(document).ready(function(){

    var updateTables=function(){$(".adtable").each(function(i,element){splitTable($(element));});return true;};
$(window).load(updateTables);
function splitTable(original){original.wrap("<div class='table-wrapper' />");
var copy=original.clone();copy.find("td:not(:first-child), th:not(:first-child)").css("display","none");
copy.removeClass("adtable");
original.closest(".table-wrapper").append(copy);
copy.wrap("<div class='pinned' />");original.wrap("<div class='scrollable' />");
};
$('[data-toggle="tooltip"]').tooltip(); 
});

</script>
    <!-- Custom Theme JavaScript -->
    <script src="{{site.staticurl}}/frontpage/js/creative.js"></script>
    <script>
    var makeMosaicoTable = function(idtable) {
      var data = [
      '#1## 7### 8##4 ##9# 1 #2## ##9#',
      '#<#4 #  3 #^^  #  # # #    #  6',
      '5<## #  #  ### 7### # 3    #  #',
      '#<0# ##0# ###6 2  # # ##8# 5###'
      ];
      var t = $('<table class="mosaico-text" id="mosaico-logo-'+idtable+'" />');
      var rnd1, rnd2, tr, className;
      for (var i = 0; i < data.length; i++) {
        tr = $('<tr />');
        for (var j = 0; j < data[i].length; j++) {
          className = 'on';
          rnd1 = rnd2 = '';
          switch (data[i].substr(j, 1)) {
            case '#': rnd1 = 'ce'; break;
            case '<':
            case '^':
            case ' ': className = 'off'; break;
            default:
              rnd1 = "cc c"+data[i].substr(j, 1);
              rnd2 = "s"+Math.floor((Math.random() * 10));
          }
          if (j > 0 && data[i].substr(j-1, 1) == '<') className += " pullleft";
          if (i > 0 && data[i-1].substr(j, 1) == '^') className += " pullup";
          var td = $('<td><div class="'+className+" "+rnd1+" "+rnd2+'"></div></td>');
          tr.append(td);
        }
        t.append(tr);
      }
      return t;
    };
    $(function() {
      makeMosaicoTable(1).appendTo($('.logoContainer'));
      makeMosaicoTable(2).appendTo($('.logoContainerBig'));
      $('.logoImage').remove();
    });
    // $('<hr/>').appendTo($('body'));
    </script>
    <script src="{{site.basepath}}/srv/config.js"></script>
</body>
