---
layout: default
---

  <header class="blog-header">
        <div class="header-content">
            <div class="header-content-inner">
               <table class="logoWrapper" valign="bottom" align="center"><tr><td valign="bottom"><img class="logoImage" alt="Mosaico.io" style="display: block;" src="{site.staticurl}}{{site.baseurl}}/assets/images/mosaicologo.png" /><div class="logoContainerBig"></div></td><td valign="top">
                </td></tr></table>
                 <h2 class="section-heading">Blog, news, announcement and more!</h2>
                    
            </div>
        </div>
    </header>

<div class="container">
            <div class="row">
<section class="col-md-8 col-content">
<div class="breadcrumb">
	<a href="/index.html">Home</a> &gt; <a href="/blog/">Blog</a> &gt; {% for category in page.categories %}  <a  href="{{ site.baseurl }}/{{ category }}" style="text-transform:capitalize"> {{ category | replace:'-',' '}} </a> &gt; {% endfor %} {{page.title}}
</div>
<div class="posts">
    <div >
      <h2 class="title">
       <i class="fa fa-comment-o"></i>&nbsp;{{page.title}}
      </h2>
      {% for category in page.categories %}
          
              <a  href="{{ site.baseurl }}/{{ category }}"  class="category label label-warning">
                  {{ category | replace:'-',' '}}
              </a>
         

          {% endfor %}
    </div>
    <div class="panel-body  excerpt">
       
          {{ content }}
         
       
    </div>
    <div class="well well-sm operate">
        <div class="pull-right">
          <span class="time"><i class="fa fa-clock-o"></i>&nbsp;{{ page.date | date: "%Y/%m/%d"}}</span>
         
        </div>
        <div class="clearfix"></div>
    </div>
</div>
    
</section> 
<section class="col-md-4 col-sidebar well well-sm blog-sidebar">
    {% include categories.html%}
   <a class="twitter-timeline" href="https://twitter.com/MosaicoEditor" data-widget-id="657484827009163264" data-chrome="nofooter noborders">Tweet di @MosaicoEditor</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</section>
</div>
</div>